.main-content {
  flex: 1;
}

.main-info {
  display: block;
  width: 100%;
  padding: 6px 0;
  background-color: #e6e6e6;
  .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
  &__default {
    display: inline-flex;
    align-items: center;
    margin-right: 50px;
    color: #575757;
    font-family: "Proxima Nova";
    font-size: 14px;
    font-weight: 300;
    img {
      display: inline-block;
      margin-right: 10px;
    }
    a {
      color: #575757;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
  &__flexible {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    flex: 1 1;
    font-family: "Proxima Nova";
    font-size: 14px;
    font-weight: 700;
  }
  &__phone {
    display: inline-block;
    margin-right: 30px;
    color: #505050;
    text-decoration: none;
    &:hover {
      color: #7cb342;
      text-decoration: underline;
    }
  }
  &__call {
    display: inline-flex;
    align-items: center;
    padding-right: 0;
    background: transparent;
    border: none;
    color: #7cb342;
    font-family: "Proxima Nova";
    font-size: 14px;
    font-weight: 700;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
    img {
      display: inline-block;
      margin-right: 10px;
    }
  }
}

.main-header {
  display: block;
  width: 100%;
  padding: 15px 0 12px 0;
  background-color: #f7f7f7;
  .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
  &__dropdown-toggler {
    position: relative;
  }
  &__dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 200px;
    margin: 0;
    padding: 0;
    list-style: none;
    background: #ffffff;
    box-shadow: 0 1px 16px rgba(0, 0, 0, 0.09);
    z-index: 10;
    transition: all 0.15s ease-out;
    li {
      display: block !important;
      a {
        display: block !important;
        &:hover {
          background: #f7f7f7;
        }
      }
    }
  }
  &__logo {
    display: inline-block;
    flex: 1 1;
    img {
      display: inline-block;
      max-width: 100%;
    }
  }
  &__nav {
    display: none;
    flex-flow: row wrap;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: inline-block;
      position: relative;
      &:last-child {
        a {
          padding-right: 0;
        }
      }
      a {
        display: inline-block;
        position: relative;
        padding: 12px;
        color: #000000;
        font-family: "Proxima Nova";
        font-size: 16px;
        font-weight: 300;
        line-height: 1.25;
        transition: all 0.15s ease-out;
        &:hover {
          color: #7cb342;
          text-decoration: none;
        }
      }
    }
  }
}

.home-welcome {
  display: block;
  width: 100%;
  &__slide {
    display: block;
    width: 100%;
    height: 700px;
    padding: 200px 0 250px 0;
    &-title {
      display: block;
      margin-bottom: 20px;
      color: #ffffff;
      font-family: "Proxima Nova";
      font-size: 28px;
      font-weight: 700;
      text-transform: uppercase;
    }
    p {
      display: block;
      margin-bottom: 30px;
      color: #ffffff;
      font-family: "Proxima Nova";
      font-size: 24px;
      font-weight: 300;
    }
    &-button {
      display: inline-block;
      margin-bottom: 50px;
      padding: 12px 38px;
      border-radius: 3px;
      background-color: #7cb342;
      color: #ffffff;
      font-family: "Proxima Nova";
      font-size: 18px;
      font-weight: 400;
      transition: all 0.15s ease-out;
      &:hover {
        color: #ffffff;
        text-decoration: none;
        opacity: 0.8;
      }
    }
  }
  .slick-next:before,
  [dir=rtl] .slick-prev:before {
    display: none;
  }
  .slick-prev:before {
    display: none;
  }
  .slick-prev {
    display: inline-block;
    left: 16px;
    margin-top: -220px;
    transition: all 0.15s ease-out;
    &:hover {
      opacity: 0.8;
    }
  }
  .slick-next {
    display: inline-block;
    left: 45px;
    right: 0;
    margin-top: -220px;
    transition: all 0.15s ease-out;
    &:hover {
      opacity: 0.8;
    }
  }
  .container {
    position: relative;
  }
}

.home-price {
  display: block;
  width: 100%;
  padding: 60px 0;
  background: url('../images/brickwall.png') repeat;
  &__titles {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    margin: 50px 0 44px 0;
    color: #464646;
    font-family: "Proxima Nova";
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
  }
  &__card {
    display: inline-block;
    flex: 1 1 auto;
    max-width: 360px;
    margin-bottom: 20px;
    padding: 30px 25px;
    box-shadow: 0 1px 16px rgba(0, 0, 0, 0.09);
    background-color: #ffffff;
    color: #464646;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 300;
    line-height: 1.88;
    &-titles {
      display: flex;
      width: 100%;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
      color: #464646;
      font-family: "Proxima Nova";
      font-size: 16px;
      font-weight: 700;
      line-height: 1.88;
    }
    &-feature {
      display: flex;
      width: 100%;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
      padding: 16px 0;
      border-bottom: 1px dashed #000001;
    }
  }
}

.home-title {
  display: block;
  width: 100%;
  margin-bottom: 26px;
  color: #464646;
  font-family: "Proxima Nova";
  font-size: 36px;
  font-weight: 400;
  line-height: 0.83;
  text-align: center;
}

.home-desciption {
  display: block;
  max-width: 580px;
  margin: 0 auto 60px;
  color: rgba(0, 0, 0, 0.7);
  font-family: "Proxima Nova";
  font-size: 16px;
  font-weight: 300;
  line-height: 1.25;
  text-align: center;
}

.home-vip {
  display: block;
  width: 100%;
  padding: 85px 0 30px 0;
  &__slides {
    display: block;
    width: 100%;
  }
  &__slide {
    display: block;
    width: 270px;
    height: 260px;
    object-fit: cover;
    img {
      display: block;
      width: 270px;
      height: 260px;
      object-fit: cover;
    }
  }
  .slick-next:before,
  [dir=rtl] .slick-prev:before {
    display: none;
  }
  .slick-prev:before {
    display: none;
  }
  .slick-next,
  .slick-prev {
    top: -44px;
  }
  .slick-prev {
    left: 0;
  }
  .slick-next {
    right: 0;
  }
  .slick-prev {
    transition: all 0.15s ease-out;
    &:hover {
      opacity: 0.8;
    }
  }
  .slick-next {
    transition: all 0.15s ease-out;
    &:hover {
      opacity: 0.8;
    }
  }
}

.home-room {
  display: block;
  width: 100%;
  padding: 85px 0 100px 0;
  &__slides {
    display: block;
    width: 100%;
  }
  &__slide {
    display: block;
    width: 270px;
    height: 260px;
    object-fit: cover;
    img {
      display: block;
      width: 270px;
      height: 260px;
      object-fit: cover;
    }
  }
  .slick-next:before,
  [dir=rtl] .slick-prev:before {
    display: none;
  }
  .slick-prev:before {
    display: none;
  }
  .slick-next,
  .slick-prev {
    top: -44px;
  }
  .slick-prev {
    left: 0;
  }
  .slick-next {
    right: 0;
  }
  .slick-prev {
    transition: all 0.15s ease-out;
    &:hover {
      opacity: 0.8;
    }
  }
  .slick-next {
    transition: all 0.15s ease-out;
    &:hover {
      opacity: 0.8;
    }
  }
}

.home-reviews {
  display: block;
  width: 100%;
  padding: 65px 0;
  background-color: #f8f8f8;
  .container {
    position: relative;
  }
  &__slides {
    display: block;
    max-width: 825px;
    margin: 45px auto 0 auto;
    .slick-next:before,
    [dir=rtl] .slick-prev:before {
      display: none;
    }
    .slick-prev:before {
      display: none;
    }
    .slick-prev {
      top: 25%;
      left: -156px;
      transition: all 0.15s ease-out;
      &:hover {
        opacity: 0.8;
      }
    }
    .slick-next {
      top: 25%;
      right: -148px;
      transition: all 0.15s ease-out;
      &:hover {
        opacity: 0.8;
      }
    }
  }
  &__slide {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    p {
      display: block;
      margin-bottom: 30px;
      color: #464646;
      font-family: "Proxima Nova";
      font-size: 14px;
      font-weight: 300;
      line-height: 1.43;
      text-align: justify;
      text-align-last: center;
    }
    &-author {
      display: block;
      color: #464646;
      font-family: "Proxima Nova";
      font-size: 14px;
      font-weight: 700;
      line-height: 1.43;
      text-align: center;
    }
  }
  .slick-dots li button:before {
    font-size: 10px;
    opacity: 1;
    color: #a2a2a2;
  }
  .slick-dots li.slick-active button:before {
    opacity: 1;
    color: #facb01;
  }
}

.main_padding-0 {
  padding: 0;
}

.home-seo {
  display: block;
  width: 100%;
  padding: 65px 0 75px 0;
  color: #464646;
  font-family: "Proxima Nova";
  font-size: 14px;
  font-weight: 300;
  line-height: 1.43;
  .home-title {
    margin-bottom: 65px;
  }
  img {
    display: block;
    max-width: 100%;
    margin: 10px auto;
  }
  p {
    margin-bottom: 25px;
    text-align: justify;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 25px;
    color: #464646;
    font-family: "Proxima Nova";
    font-weight: 400;
  }
}

.home-map {
  display: block;
  width: 100%;
  .container {
    position: relative;
  }
  &__block {
    display: block;
    position: absolute;
    max-width: 440px;
    right: 0;
    top: 110px;
    padding: 60px 65px 15px 65px;
    box-shadow: 0 1px 57px rgba(0, 0, 0, 0.09);
    background-color: #ffffff;
    &-title {
      display: block;
      margin-bottom: 40px;
      color: #7cb342;
      font-family: "Proxima Nova";
      font-size: 24px;
      font-weight: 700;
      line-height: 1.25;
    }
    &-row {
      display: block;
      position: relative;
      margin-bottom: 40px;
      padding-left: 25px;
      color: #2b2b2b;
      font-family: "Proxima Nova";
      font-size: 18px;
      font-weight: 300;
      line-height: 1.67;
      &_map {
        &:before {
          display: block;
          position: absolute;
          content: '';
          left: 0;
          top: 5px;
          width: 16px;
          height: 16px;
          background: url('../images/icon_green_map.png') no-repeat;
        }
      }
      &_phone {
        text-decoration: none;
        &:hover {
          color: #7cb342;
          text-decoration: underline;
        }
        &:before {
          display: block;
          position: absolute;
          content: '';
          left: 0;
          top: 5px;
          width: 16px;
          height: 16px;
          background: url('../images/icon_green_phone.png') no-repeat;
        }
      }
    }
  }
}

.main-footer {
  display: block;
  width: 100%;
  padding: 20px 0 40px 0;
  background-color: #354622;
  &__nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: inline-block;
      a {
        display: inline-block;
        padding: 20px 10px;
        opacity: 0.57;
        color: #fffefe;
        font-family: "Proxima Nova";
        font-size: 16px;
        font-weight: 400;
        line-height: 1.25;
        text-decoration: none;
        transition: all 0.15s ease-out;
        &:hover {
          opacity: 1;
          text-decoration: none;
        }
      }
    }
  }
  &__creators {
    display: block;
    text-align: center;
    color: #fffefe;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    span {
      opacity: 0.57;
    }
    a {
      color: #fffefe;
      opacity: 0.57;
      text-decoration: underline;
      transition: all 0.15s ease-out;
      &:hover {
        color: #fffefe;
        opacity: 1;
        text-decoration: none;
      }
    }
  }
}

.home-about {
  display: block;
  width: 100%;
  border-top: 6px solid #facb01;
  .row {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
  }
  &__left {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 140px 0;
    background: url('../images/home_2.jpg') no-repeat center;
    background-size: cover;
  }
  &__right {
    padding: 90px;
    color: #000000;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 300;
    line-height: 1.25;
    p {
      margin-bottom: 20px;
    }
    img {
      display: block;
      max-width: 100%;
      margin: 0 auto 20px auto;
    }
  }
  &__tabs {
    display: block;
    max-width: 450px;
    margin-right: -9px;
    padding: 45px 0 45px 45px;
    border: 9px solid #ffffff;
  }
  &__tab-switcher {
    display: block;
    position: relative;
    padding: 20px 60px 20px 25px;
    border-bottom: 1px solid #be9a00;
    background-color: #facb01;
    color: #ffffff;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 700;
    line-height: 1.25;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.15s ease-out;
    &:after {
      display: block;
      position: absolute;
      content: '';
      width: 16px;
      height: 16px;
      right: 25px;
      top: 50%;
      margin-top: -8px;
      background: url('../images/icon_plus.png') no-repeat center;
      transition: all 0.15s ease-out;
    }
    &.home-about__tab-switcher_active {
      background-color: #7cb342 !important;
      &:after {
        background: url('../images/icon_minus.png') no-repeat center !important;
      }
    }
  }
  &__tab-content {
    display: none;
    min-height: 600px;
    transition: all 0.15s ease-out;
    &.home-about__tab-content_active {
      display: block;
    }
  }
}

.page-content {
  display: block;
  width: 100%;
  padding: 30px 0 70px 0;
  background-color: #ffffff;
  &_price {
    background: url('../images/brickwall.png') repeat;
  }
  &_features {
    background: url('../images/features_bg.jpg') no-repeat center right;
  }
}

.main-breadcrumps {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 35px;
  color: #010101;
  font-family: "Proxima Nova";
  font-size: 16px;
  font-weight: 300;
  line-height: 2.25;
  li {
    display: inline-block;
    a {
      display: inline-block;
      color: #010101;
      font-family: "Proxima Nova";
      font-size: 16px;
      font-weight: 300;
      line-height: 2.25;
      text-decoration: underline;
      transition: all 0.15s ease-out;
      &:hover {
        color: #7cb342;
        text-decoration: none;
      }
    }
    span {
      display: inline-block;
      margin: 0 10px;
    }
  }
}

.advices {
  display: block;
  &__title {
    display: block;
    margin-bottom: 75px;
    color: #464646;
    font-family: "Proxima Nova";
    font-size: 36px;
    font-weight: 400;
    line-height: 0.83;
    text-align: center;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    flex: 1 1 auto;
    max-width: 360px;
    margin-bottom: 25px;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    background-color: #f7f7f7;
    text-decoration: none;
    transition: all 0.15s ease-out;
    a {
      color: #94c12b;
      text-decoration: none;
      transition: all 0.15s ease-out;
      &:hover {
        color: #facb01;
        text-decoration: none;
      }
    }
    &-img {
      display: block;
      width: 100%;
      height: 205px;
      border-radius: 3px 3px 0 0;
      object-fit: cover;
    }
    &-title {
      display: block;
      max-width: 330px;
      margin: 15px;
      color: #94c12b;
      font-family: "Proxima Nova";
      font-size: 24px;
      font-weight: 600;
      line-height: 1.25;
      transition: all 0.15s ease-out;
      &:hover {
        color: #facb01;
        text-decoration: none;
      }
    }
    p {
      display: block;
      max-width: 330px;
      margin-bottom: 25px;
      color: #464646;
      font-family: "Proxima Nova";
      font-size: 14px;
      font-weight: 300;
      line-height: 1.43;
    }
  }
}

.another {
  display: block;
  width: 100%;
  padding: 85px 0 30px 0;
  &__slides {
    display: block;
    width: 100%;
  }
  &__slide {
    display: block;
    width: 270px;
    height: 260px;
    object-fit: cover;
    img {
      display: block;
      width: 270px;
      height: 260px;
      object-fit: cover;
    }
  }
  .slick-next:before,
  [dir=rtl] .slick-prev:before {
    display: none;
  }
  .slick-prev:before {
    display: none;
  }
  .slick-next,
  .slick-prev {
    top: -44px;
  }
  .slick-prev {
    left: 0;
  }
  .slick-next {
    right: 0;
  }
  .slick-prev {
    transition: all 0.15s ease-out;
    &:hover {
      opacity: 0.8;
    }
  }
  .slick-next {
    transition: all 0.15s ease-out;
    &:hover {
      opacity: 0.8;
    }
  }
}

.reviews {
  display: block;
  width: 100%;
  &__title {
    display: block;
    margin-bottom: 80px;
    color: #464646;
    font-family: "Proxima Nova";
    font-size: 36px;
    font-weight: 400;
    line-height: 0.83;
    text-align: center;
  }
  &__cards {
    display: block;
  }
  &__card {
    display: block;
    margin-bottom: 30px;
    padding: 34px 50px;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    background-color: #f7f7f7;
    &-title {
      display: block;
      margin-bottom: 30px;
      color: #464646;
      font-family: "Proxima Nova";
      font-size: 14px;
      font-weight: 700;
      line-height: 1.43;
    }
    p {
      display: block;
      max-width: 825px;
      margin: 0;
      color: #464646;
      font-family: "Proxima Nova";
      font-size: 14px;
      font-weight: 300;
      line-height: 1.43;
    }
  }
}

.article {
  display: block;
  color: #000000;
  font-family: "Proxima Nova";
  font-size: 14px;
  font-weight: 400;
  &__title {
    display: block;
    margin-bottom: 35px;
    color: #000000;
    font-family: "Proxima Nova";
    font-size: 36px;
    font-weight: 400;
    line-height: 0.83;
    text-align: center;
  }
  img {
    display: block;
    max-width: 100%;
    margin: 0 auto 40px auto;
  }
  p {
    max-width: 870px;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 25px;
    color: #000000;
    font-family: "Proxima Nova";
    font-weight: 700;
  }
  blockquote {
    display: block;
    position: relative;
    margin: 50px 0 75px;
    padding: 10px 80px 10px 110px;
    border: none;
    color: #94c12b;
    font-family: "Appetite New";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.63;
    &:before {
      display: block;
      position: absolute;
      content: '';
      width: 58px;
      height: 58px;
      left: 32px;
      top: 8px;
      background: url('../images/icon_blockquote.png') no-repeat center;
    }
  }
  ul {
    display: block;
    margin: 20px 0 40px 20px;
    list-style: square;
  }
}

.features {
  display: block;
  &__title {
    display: block;
    margin-bottom: 65px;
    color: #464646;
    font-family: "Proxima Nova";
    font-size: 36px;
    font-weight: 400;
    line-height: 0.83;
    text-align: center;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 80px;
  }
  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;
    max-width: 560px;
    min-height: 305px;
    flex: 1 1 auto;
    margin-bottom: 20px;
    border-radius: 3px;
    &-title {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 20px;
      border-radius: 0 0 3px 3px;
      background-color: rgba(148, 193, 43, 0.9);
      color: #fffefe;
      font-family: "Proxima Nova";
      font-size: 24px;
      font-weight: 400;
      line-height: 1.25;
      text-align: center;
    }
  }
}

.why {
  display: block;
  &__title {
    display: block;
    margin-bottom: 45px;
    color: #464646;
    font-family: "Proxima Nova";
    font-size: 24px;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 40px;
  }
  &__card {
    display: inline-flex;
    flex: 1 1 auto;
    width: 140px;
    margin-bottom: 20px;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    img {
      display: block;
      width: 100%;
      object-fit: contain;
      object-position: center;
    }
    &-circle {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 140px;
      height: 140px;
      margin-bottom: 28px;
      border-radius: 999rem;
      background: rgba(148, 193, 43, 0.55);
      img {
        direction: block;
        width: 110px;
        height: 110px;
        border-radius: 999rem;
        object-fit: cover;
      }
    }
    &-title {
      display: block;
      color: #000000;
      font-family: "Proxima Nova";
      font-size: 24px;
      font-weight: 300;
      line-height: 0.83;
      text-align: center;
    }
  }
  &__info {
    display: block;
    max-width: 810px;
    margin: 0 auto;
    color: #464646;
    font-family: "Proxima Nova";
    font-size: 14px;
    font-weight: 300;
    line-height: 1.43;
    text-align: justify;
    text-align-last: center;
  }
}