@media (max-width: 1200px) {
  .home-reviews__slides .slick-next {
    right: 20px;
    opacity: 0;
  }
  .home-reviews__slides .slick-prev {
    left: 20px;
    opacity: 0;
  }
}

@media (max-width: 992px) {}

@media (max-width: 768px) {
  .main-info__default {
    margin: 5px;
  }
  .main-info .container {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  .main-header__nav {
    width: 100%;
    li {
      display: block;
      text-align: center;
      a {
        display: block;
        width: 100%;
        padding: 5px 20px;
        text-align: center;
      }
    }
  }
  .main-header .container {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  .main-info__flexible {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  .main-info__phone {
    margin-right: 0;
  }
  .main-header__nav li:last-child a {
    padding-right: 20px;
  }
  .home-welcome__slide {
    height: auto;
    padding: 100px 0;
  }
  .home-about__left {
    padding: 0;
  }
  .home-about__tabs {
    margin: 0;
    border: none;
    padding: 0;
  }
  .home-about__right {
    padding: 20px;
  }
  .home-price {
    padding: 20px 0;
  }
  .home-title {
    margin-bottom: 20px;
    font-size: 32px
  }
  .home-price__titles {
    margin: 20px 0;
  }
  .home-price__card {
    flex: 1 1 auto;
  }
  .home-vip {
    padding: 20px 0;
  }
  .home-room {
    padding: 20px 0;
  }
  .home-reviews {
    padding: 20px 0;
  }
  .home-seo {
    padding: 20px 0;
  }
  .home-seo .home-title {
    margin-bottom: 20px;
  }
  .home-map__block {
    position: relative;
    top: auto;
    padding: 20px;
  }
  .home-map__block-title {
    margin-bottom: 20px;
  }
  .home-map__block-row {
    margin-bottom: 20px;
  }
  .main-footer__nav {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    li {
      a {
        padding: 5px 20px;
      }
    }
  }
  .another {
    padding: 20px 0;
  }
  .page-content {
    padding: 20px 0;
  }
  .main-breadcrumps {
    margin-bottom: 20px;
  }
  .advices__title {
    margin-bottom: 20px;
  }
  .advices__cards {
    justify-content: space-around;
  }
  .reviews__card {
    padding: 20px;
  }
  .reviews__title {
    margin-bottom: 20px;
  }
  .reviews__card-title {
    margin-bottom: 20px;
  }
  .home-price__cards {
    justify-content: space-around;
  }
  .article blockquote {
    margin: 20px;
    padding: 20px;
    background: #f4f4f4;
    &:before {
      display: none;
    }
  }
  .features__title {
    margin-bottom: 20px;
  }
  .features__cards {
    margin-bottom: 20px;
  }
  .why__title {
    margin-bottom: 20px;
  }
  .why__cards {
    justify-content: space-around;
  }
  .page-content_features {
    background: #ffffff;
  }
  .slick-slide img {
    display: block;
    margin: 0 auto;
  }
  .main-header__logo img {
    max-width: 200px;
    margin-top: 5px;
  }
  .main-header__dropdown {
    position: relative;
    width: 100%;
  }
}

@media (min-width: 979px) {
  ul.nav li.dropdown:hover>ul.dropdown-menu {
    display: block;
  }
}

.main-header__dropdown-toggler:hover {
  .main-header__dropdown {
    display: block;
  }
}