// bower:scss
// endbower
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: "Proxima Nova", sans-serif;
  font-size: 14px;
  color: #000000;
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: 400;
  src: url('../fonts/ProximaNovaRegular.otf');
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: 300;
  src: url('../fonts/ProximaNovaLight.otf');
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: 700;
  src: url('../fonts/ProximaNovaBold.otf');
}

@font-face {
  font-family: "Appetite New";
  font-weight: 400;
  src: url('../fonts/Appetite_New.otf');
}

@import "./_atoms.scss";
@import "./_restyle.scss";
@import "./_responsive.scss";